body{
    background-color: #bac8d4 !important;
    padding: 20px;
    margin-bottom: 100px !important;
}

header.header{
    margin: -20px -20px 30px -20px;
    display: flex;
    height: 100px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.titulo-page{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-page>*:is(h1, h2){
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.titulo-jogos{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo-classes{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo-skilltrees{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-body{
    background-color: #FFFFFF66 !important;
}

.tab-content{
    background-color: #FFFFFF;
}

.credits-footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
}

.grid-jogos, .grid-classes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 20px;
    align-content: center;
    justify-items: center;
}

.card-jogo, .card-classe{
    max-width: 400px;
    width: 100%;
}

.card-jogo:hover, .card-classe:hover{
    transform: scale(1.05);
}

.card-header{
    font-weight: bold;
}

.texto-branco>.card-header{
    color: #FFFFFF;
}

.texto-branco>.card-header>a{
    color: #FFFFFF;
}

.texto-branco>.card-header>a:hover{
    color: #FFFFFFAA;
}

.grid-skills{
    display: flex;
    flex-direction: column;
    min-height: 100px;
    gap: 20px;
    width: 100%;
}

.skilltree-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border: 2px dashed #00000022;
    min-height: 100px;
    border-radius: 5px;
    padding: 10px;
}

.sortable-placeholder{
    width: 130px;
    border: 2px solid #00000066;
}

.skill-menu{
    background-color: #00000033;
    border-radius: 5px;
    border: 3px solid #000000AA;
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: flex;
    justify-content: space-around;
    height: 70px;
}

.skill-menu>.skill{
    max-height: 70px;
    margin: 5px 10px;
}

.skill-menu>.skill>.skill-input{
    max-height: 40px;
}

.skill{
    position: relative;
    min-height: 30px;
    min-width: 50px;    
    width: 130px;
    text-align: center;
    border: 3px solid #00000055;
    background-color: #FFFFFF;
}

.quadrado{    
    padding: 5px 0px;
    border-radius: 0px;
}

.circulo{    
    padding: 5px 15px;
    border-radius: 50%;
}

.redondo{    
    padding: 5px 10px;
    border-radius: 20px;
}

.pin{
    height: 20px;
    width: 20px;
    position: absolute;
    top: -10px;
    right: 5%;
}

.delete-skill{
    position: absolute;
    top: -10px;
    left: 5%;
    cursor: pointer;
}

.skill-input{
    border: none;
    max-width: 100px;
    background-color: transparent;
    text-align: center;
}

.skill-input:is(:active, :focus-visible){
    border: none !important;
}

.skill:not(.original):hover>.skill-descricao, .skill-descricao:hover{
    z-index: 1;
    opacity: 1;
    transition: 0.3s 0.2s;
}

.skill:last-child > .skill-descricao{
    transform: translateX(calc(-100% - 130px));
}

.skill-descricao{
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 130px;
    top: 20px;
    border: 3px solid #00000033;
    border-radius: 10px;
    background-color: #bac8d4;
    transition: 0.3s 0.4s;    
    width: clamp(10vw, 300px, 70vw);
    height: clamp(20vh, 200px, 80vh);
    overflow: auto;
}

.skill-descricao-text{
    height: 100%;
    background-color: transparent;
    border: none;
}

#btn-salvar{
    position: fixed;
    left: 20px;
    bottom: 30px;
}